@import "tailwindcss";

body {
  font-family: 'Inter',sans-serif;
}

.hamburger-line{
  @apply w-7.5 h-0.5 my-2 block bg-slate-900
}

.hamburger-active > span:nth-child(1){
  @apply rotate-45; 
}

.hamburger-active > span:nth-child(2){
  @apply scale-0; 
}

.hamburger-active > span:nth-child(3){
  @apply -rotate-45; 
}

.navbar-fixed {
  @apply fixed z-50 bg-white/80 backdrop-blur-md;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1); 
}


@theme {
  --container-margin-inline: auto;   /* ini yang bikin center */
  --container-padding-inline: 16px;  /* padding kiri kanan */

  --breakpoint-2xl: 1320px;
}


@layer components {

  /* PRIMARY TEXT */
  .text-primary {
    color: #14b8a6;
  }

  .bg-primary {
    color: #14b8a6;
  }

  /* DARK TEXT (setara text-slate-900) */
  .text-dark {
    @apply text-slate-900;
  }
  /* Secondry text color */
  .text-secondry {
    @apply text-slate-500;
  }

  /* HEADING STYLE */
  .heading-primary {
    color: #14b8a6;
    @apply font-bold tracking-wide;
  }

  .heading-dark {
    @apply text-slate-900 font-bold tracking-wide;
  }

  /* LINK STYLE */
  .link-primary {
    color: #14b8a6;
    @apply transition;
  }

  .link-primary:hover {
    color: #0f9e8f;
  }
}



@layer utilities {
  /* container default: center */
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  /* md breakpoint: dorong ke kanan (ml-auto mr-0) */
  @screen md {
    .container {
      margin-left: auto;
      margin-right: 0;
    }
  }

  /* lg breakpoint: kembali normal (center) */
  @screen lg {
    .container {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@theme {
  --container-margin-inline: auto;   /* ini yang bikin center */
  --container-padding-inline: 16px;  /* padding kiri kanan */
  --breakpoint-2xl: 1320px;
}